html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
    background-color: #FFF;
    margin: 0 auto;
  }
  
  header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  a.anchor {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;  
  }
  
  a.anchor:hover {
    color: #DBE9EE;
    z-index: 10;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px;
  }
  
  h3 {
    color: #466995;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    padding: 0 20px 20px;
  }

  .container h3 {
    color: #466995;
    font-family: 'Varela Round', sans-serif;
    width: 320px;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
    padding: 20px;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  footer {
    background-color: #DBE9EE;
    text-align: center;
    height: 100px;
  }
  
  .welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 40px;
  }
  
  .title {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    position: relative;
    top: 40px;
  }
  
  .text{
    text-align: left;
    position: relative;
  }
  
  .card{
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
  }
  
  .card:hover {
    background: #C0D6DF;
    color: #FFF; 
    border-radius: 15px;
  }

  .container {
   position: relative;
   top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
  }